
/**

MISC

**/
.bulk_select_links
{
    float:left;
    font-size:0.8em;
    padding:0.2em 0 0.1em 0;  
}

.bulk_action_container
{
    width:100%;
    float:left;
    clear:both;
}


.bulk_action_container button
{
    float:right;
}     

#logo_container
{
    text-decoration:none;    
}


.lightbox_target_container
{
    min-height:200px;
    max-height:350px;
    height:320px;
    width:600px;
    min-width:200px;
    max-width:700px;
    overflow:visible;
    margin-top:2em;
    
    float:left;
}


.lightbox_tall
{
    min-height:200px;
    max-height:500px;
    height:420px;
    
    width:800px;
    min-width:200px;
    max-width:800px;
}

.lightbox_target_inner_wrap
{
    height:100%;
    width:95%;
    overflow:auto;       
}          

.lightbox_target_header
{
     height:10%;
     width:90%;
}

.lightbox_target_content
{
     height:75%;
     overflow:auto;
     
}



.lightbox_target_footer
{
     height:10%;
     width:90%;
     overflow:visible;
     position:absolute;
     padding-top:1%;
     font-size:0.8em;
     text-align:right;
     vertical-align:middle;
}

.lightbox_target_container .pagebanner,
.lightbox_target_container .results_table
{
    width:95%;        
}

input[type="checkbox"]
{
    width:auto;    
}



.project_actions,
.team_actions {
    float:left;
    vertical-align:middle;
    padding:0.5em;
}

.delete_icon {
    float:left;
    height:16px;
    width:16px;
    background:url(images/icon_delete.png) no-repeat;
    margin:0 2px;
}

.left_column
{
    width:47%;
    overflow:auto;    
}

/* fixed table hack*/
/*
.scroll_table_outer
{
     position:relative;
     width:90%;
     margin:auto;
     padding:2.8em 0 3em;
}

.scroll_table_inner
{
    overflow-y:auto;
    overflow-x:hidden;
    height:10em;
    width:100%;
}

.scroll_table_outer table.results_table
{
    width:auto;    
}          

.scroll_table_outer table.results_table thead tr
{
     position:absolute;
     left:0;
     top:0;     
     height:2.8em;
}

.scroll_table_outer table.results_table th,
.scroll_table_outer table.results_table td     
{
    width:150px;
    padding-left:20px;
}

.scroll_table_outer table.results_table
{
     margin:0;
}         
     
*/

.right_column
{
    width:47%;
    overflow:auto;    
}          

.emphasis
{
    font-style:italic;    
}          


#logo_non_image_container
{
    display:none;
    text-transform:uppercase;
}

/***************
     Search
***************/     

.search_result_type_hide_wrapper 
{
     display:none;
}          
.search_result_type_wrapper
{
    width:600px;
    height:400px;
}

.search_result_type_selection.selected
{
    background-color:#9999FF;
}

.search_result_type_selection
{
    display:block;
    margin-bottom:5px;
    margin-right:10px;
    
}

.selected_type_wrap
{
    display:inline-block;   
    width:60%; 
}          

.search_result_type_display
{
    margin:5px;
    color:#333377;
    width:30%;
    float:left;
}

.search_result_type_remove
{            
    height:16px;
    width:16px;
    background:url(images/icon_cancel.png);
    display:inline-block;
}


.left_col
{
     float:left;
     width:30%;
     margin-left:10%;
}

.right_col
{
    float:left;
    width:30%;
    margin-left:10%; 
}

.inline_text
{
    font-size:0.8em;
    color:#333;
    vertical-align:middle;    
}          

.input_group label button
{
    float:right;    
    margin-top:5px;
}          


.ui-tabs-hide {
     display: none;
}

.ui-tabs
{
 
     
     /*overwrite jquery ui styles */
     font-family:inherit;
     font-size:1em;   
     padding:0;
     border:none;
     -moz-border-radius-topleft:     0;
     -moz-border-radius-topright:    0;
     -moz-border-radius-bottomright: 0;
     -moz-border-radius-bottomleft:  0;          
}     
    
.ui-tabs .ui-tabs-nav, .ui-tabs-panel
{
     /*overwrite jquery ui style*/
    border:none;    
}

.ui-tabs .ui-tabs-nav
{
    white-space:nowrap;    
}          
.ui-tabs .ui-tabs-nav li
{
    float:none;
    display:inline-block;
    *display:inline;
    zoom:1;
      
}

.ui-tabs .ui-tabs-nav li.ui-state-default
{
     background:#DBDBDB;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
     background:#ECECEC;
}


.inline_left_right_container
{
    text-align:right;
    white-space:nowrap;     
}

.inline_left_container
{
     display:inline;
}

.inline_right_container
{
     display:inline;
     text-align:left;     
}


#header_container .inline_right_container
{
     margin-left:260px;     
}

#header_container .inline_left_container
{
    float:left;    
}     


.results_table tr.search_hidden_entry
{
    display:none;

}


.results_table tr.search_hidden_entry td
{
    color:#CCC;
}

.home_nav a:hover
{
    color:inherit;    
}          
  
.no_float_labels label
{
    float:none;
}


.input_group .hidden_field,
.hidden_field
{
    display:none;
}



.intersect_logo_link
{
    display:inline-block;
    *display:inline;
    zoom:1; /* Required for IE */
    height:14px;
    width:14px;
    vertical-align:bottom;
    background:url(images/intersect_logo.png);
}

/* Fix for inputs in job submission form*/
table input
{
    width:90%;
}
/* fix for page 2 on job submission form */
.radiobutton
{
    width:inherit;
}

/* for hiding errors on job submission form */
span.hideMe
{
    display:none;
}


/* result ancestry */

.padded_header
{
    padding-top:8px;
    padding-bottom:8px;
}

.expanded .expand
{
    display:none;
    padding:0px;
}
.collapse
{
    display:none;
}

.expanded .collapse
{
    display:inline;
}

.ancestor_basic_details
{
    float:left;
    width:50%;
}
.ancestor_paths
{
    float:right;
    width:50%;
}

.header_links a
{
    font-size:1em;
}



/********************
 * PAGINATION STYLE *
 ********************/
  #pages {
    padding: 10px 0px 5px 0px;
    color: #333; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align:left;
    margin:auto;
    width:95%;
    display:inline; 
}

  #pages ul {
    list-style-type: none;
    margin-left:200px;
}

  #pages li {
    display: inline;
    margin: 0 5px 0 0;
    display: inline-block;
    *display:inline;
    zoom:1;
    background: #fff;
}

  #pages li a {
    color: #7199A6;
    padding: 3px 4px 3px 4px;
    border: 1px solid #ccc;
    text-decoration: none;
    float:left;
}

  #pages li a:hover {
    color: #4D7CB3;
    border: 1px solid #4D7CB3;
}

  #pages li.nolink {
    color: #4d4d4d;
    border: 1px solid #4d4d4d;
    padding: 3px 4px 3px 4px;
}

  #pages li.current {
    color: #fff;
    border: 1px solid #CCC;
    /*padding: 3px 4px 3px 4px;*/
    background: #49648F;
}

  .pagebanner {
    width:100%;
    color:#333;
    font-size:0.8em;
    margin-left:15px;
    margin-top:5px;
    text-align:center;
    clear:both;
}



.lightbox_target_content .action_button
{
    display:none;
}



.lightbox_target_content .results_table .action_column
{
    display:none;
}


.left_spaced
{
    float:left;
    width:25%;
}
.right_spaced
{
    float:right;
    width:25%;
}